
body {
    margin: 0;
    font-family: serif;
    font-size: x-large;
    background-color: #fffffa;
    text-align: center;
}

#main {
    margin: 0;
}

div.jumbo {
    padding: 20px;
    background-color: white;
}
div.jumbo h1 {
    margin-top: 5px;
    margin-bottom: 10px;
}

#library {
    margin: 40px 10vw;
    display: flex;
    flex-wrap: wrap;
}
.author {
    margin: .5vw;
    padding: 5px;
    width: 250px;
}
.author h3 {
    font-size: 1em;
    line-height: 1.5em;
}
.author p a {
    text-decoration: none;
}
@media (max-width: 1000px) {
    #library {
        justify-content: center;
    }
}

br {
    display: block;
    margin-top: 10px;
}

#text {
    margin: 40px 8vw 40px 12vw;
}
@media (max-width: 600px) {
    #text {
        margin: 4vw;
    }
}

div.line {
    display: flex;
    flex-wrap: wrap;
}
p.word {
    display: none;
    font-size: 2em;
    text-align: center;
    font-family: serif;
    margin: 2vw;
}

@media(max-width: 800px) {
    p.word {
        font-size: 1.5em;
    }
}
