
body {
	background-color: white;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: large;
	overflow-x: hidden;
}


h1 {
	font-family: 'Raleway', sans-serif;
}

.jumbotron h1 {
	background-color: rgba(255,255,255,.5);
	font-family: Monaco, sans-serif;
}
.jumbotron {
	font-size: 3.2vw;
	text-align: center;
	/*background-color: white;*/
	padding: 10px 0;
	margin: 20px;
}
@media (max-width: 800px) {
	.jumbotron {
		font-size: 5.5vw;
		width: 100vw;
		padding: 0 0;
		margin: 0;
	}
}

nav {
	display: none;
}

div#main {
	margin: 1vw;
}
@media (max-width: 400px) {
	div#main {
		margin: 0;
	}
}

canvas#canvas-of-life {
}

section {
	font-size: 1.2em;
}
section h1 {
	padding: 5px 10px;
	border-bottom: 1px solid black;
}

section#projects {
	padding: 5vw;
}
@media (max-width: 800px) {
	section#projects h1 {
		margin-top: 0;
		text-align: center;
	}
}
section#projects ul {
	list-style: none;
}
section#projects ul li {
	margin: 1vw;
	padding: 1vw;
	background-color: #fafafa;
}
section#projects ul li > a {
	font-size: 1.2em;
}
section#projects ul li > a:hover {
}
section#projects ul li p {
	margin: 0;
	padding-top: 3px;
}
section#projects ul li p a {
}
section#projects ul li p a:hover {

}

section#sub_sites {
	padding: 5vw;
}
@media (max-width: 800px) {
	section#sub_sites h1 {
		margin-top: 0;
		text-align: center;
	}
}
section#sub_sites ul {
	list-style: none;
}
section#sub_sites ul li {
	margin: 1vw;
	padding: 1vw;
	background-color: white;
}
section#sub_sites ul li > a {
	font-size: 1.5em;
}
section#sub_sites ul li p {
	margin: 0;
	padding-top: 3px;
}


footer {
	background-color: lightgrey;
	padding: 20px;
	height: 3vw;
	text-align: center;
}
footer a {
	height: 100%;
}
footer a img {
	height: inherit;
}

#fidget-container {
	width: 100%;
	text-align: center;
}
canvas#fidget {
	float: right;
	cursor: default;
}
@media (max-width: 800px) {
	canvas#fidget {
		float: none;
	}
}


/* APedia */

#apedia h2 {
	font-size: 2.5em;
	margin: 0;
}
#apedia h2 a {
	text-decoration: none;
	color: black;
}
#apedia a .A {
	color: rgb(74, 172, 233);
	font-size: 1.5em;
}
#apedia a .P {
	color: rgb(161, 198, 97);
	font-size: 1.5em;
}
