body {
    margin: 20px;
    font-size: large;
    font-family: serif;
}

#jumbo {
    text-align: center;
}
#jumbo p a {
    border: 1px solid grey;
    line-height: 40px;
    padding: 5px;
    text-decoration: none;
    color: grey;
}
#jumbo p a:hover {
    color: black;
}
#jumbo p a.selected {
    color: black;
}


#form {
    display: flex;
    border: 1px solid black;
    border-bottom: none;
    margin-bottom: 0;
}
#form input[type="text"] {
    width: 100%;
    height: 70px;
    padding: 20px;
    border: none;
    font-size: 1em;
}
#form input[type="text"]:focus{
    outline: none;
}
#form input[type="submit"] {
    font-size: .8em;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 2px 20px;
    outline: none;
    cursor: pointer;
}

#answer {
    padding: 20px;
    font-size: 1em;
    border: 1px solid black;
    border-top: none;
}
#answer div {
    display: flex;
}
#answer div pre {
    white-space: pre-wrap;
    padding: 5px;
    margin: 5px;
}
#answer div pre.val  {
    background-color: #f4f4f4;
}
#answer div pre.key {
}
#answer div pre.val {
}

#answer div pre a {
    text-decoration: none;
    color: grey;
}
#answer div pre a.selected {
    color: black;
}
#answer div pre a.formula:hover {
    color: black;
}

