body {
    margin: 20px;
    font-size: large;
    font-family: serif;
}

#jumbo {
    text-align: center;
}
#jumbo p a {
    border: 1px solid grey;
    line-height: 40px;
    padding: 5px;
    text-decoration: none;
    color: grey;
}
#jumbo p a:hover {
    color: black;
}
#jumbo p a.selected {
    color: black;
}


#form {
    display: flex;
    border: 1px solid black;
    border-bottom: none;
    margin-bottom: 0;
}
#form input[type="text"] {
    width: 100%;
    height: 70px;
    padding: 20px;
    border: none;
    font-size: 1em;
}
#form input[type="text"]:focus{
    outline: none;
}
#form input[type="submit"] {
    font-size: .8em;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 2px 20px;
    outline: none;
    cursor: pointer;
}

#answer {
    border: 1px solid black;
    border-top: none;
    padding: 2vw;
    font-family: monospace;
    font-size: 1em;
}
#answer table {
    font-size: 1em;
    width: 100%;
    border-spacing: 10px;
}
#answer tr {
}
#answer tr td {
    padding: 5px;
}
#answer tr td.key  {
    width: 20%;
}
#answer tr td.val  {
    background-color: #f4f4f4;
}

#answer tr td a {
    text-decoration: none;
    color: grey;
}
#answer tr td a.selected {
    color: black;
}
#answer tr td a.formula:hover {
    color: black;
}
#answer .blue {
    color: blue;
}
#answer .green {
    color: green;
}
#answer .red {
    color: red;
}

