

.feature.small {
    max-height: 300px;
    margin: 0 50px;
}
.feature.small .image img {
}
.feature.small div.content {
    padding: 10px 30px;
}
@media (max-width: 900px) {
    .feature.small {
        max-height: none;
    }
    .feature.small .content {
        border: none;
        padding-top: .5em !important;
        padding-bottom: 2em !important;
    }
}
@media (max-width: 700px) {
    .feature.small .image {
        height: 150px;
    }
}


.feature .image.black {
    background-color: black;
}
.feature .image.clear:after {
    background-image: none;
}

.feature .image.special img {
    height: 70%;
    min-height: auto;
    min-width: auto;
    max-width: 100%;
    position: relative;
    margin: 12% auto;

    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.feature .image.special:hover img {
    height: 90%;
    margin: 4% auto;

    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
@media (max-width: 700px) {
    .feature .image.special img {
        height: 100%;
        margin: 0 auto;
    }
}
