body {
	font-size: large;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

h1 {
	font-size: 250%;
}

h2 {
}


p {
	font-family: "Raleway";
	font-size: 1.2em;
}

a.normal-text {
	text-decoration: none;
	color: black;
}

section {
	margin-top: 0px;
	padding: 5vw;
}

section h1 {
	padding: 5px;
	margin-bottom: 40px;
	border-bottom: 2px solid black;
}

.navbar li a {
	-webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.navbar li a:hover, .navbar li.active a {
    opacity: 0.9;
}

.navbar li.active a {
	background-color: rgba(255,255,255,1) !important;
}

.navbar {
	background-color: #f8f8ff;
	border-color: transparent !important;
	border-bottom: 1px solid;
}

.navbar-default .navbar-brand {
	color: #444;
}

.navbar-default .navbar-toggle {
    color: white !important;
}

img.portrait {
	border-radius: 50px;
}

.grey {
	background-color: #f8f8ff;
}

footer {
	background-image: linear-gradient(transparent,#f8f8ff,top);
	padding: 100px;
	height: 200px;
}

footer .glyphicon {
	font-size: 20px;
    margin-bottom: 20px;
    color: #003764;
}

.jumbo {
	text-align: center;
	padding-top: 200px;
	height: 720px;
	background-color: #f8f8ff;
}
.jumbo h1 {
	padding: 20px;
}
.jumbo p {
	padding: 50px;
	font-size: 1.5em;
}
/*@media (max-width: 1250px) {
	.jumbo {
		height: 700px;
		background: url("../img/security-background.jpg") no-repeat top/1250px auto;
	}
}*/

/*.text-container {
	position: absolute;
	top: 20%;
	background-color: rgba(0,0,0,0.25);
	width: 100%;
	padding: 60px 20px;
	color: white;
}
.text-container h1 {
	font-size: 3em;
}
.text-container p {
	font-size: 1.25em;
}
@media (max-width: 500px) {
	.text-container {
		text-align: center;
		font-size: 3.5vw;
	}
}*/

h1.logo {
	-webkit-font-smoothing: antialiased;
    font-weight: 100;
}

div.desc {
	font-family: "Raleway";
}

ul.tags {
	list-style-type: none;
	background-color: #f8f8ff;
	margin: 40px;
	padding-left: 0px;
}

ul.tags li {
	display: inline-table;
	margin: 15px;
}

ul.contact-person {
	list-style-type: none;
	margin: 40px;
	padding-left: 0px;
}

ul.contact-person li {
	margin: 10px;
}

div.person {
	margin: 1vw;
	padding: 20px;
	background-color: #fefefe; 
}
div.person img {
	width: 200px;
	height: 220px;
	object-fit: cover;
}
div.person h2 {
	font-size: 2em;
}

div.people {
	margin: 40px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}
@media (max-width: 500px) {
	div.people {
		margin: 0px;
	}
}

div.info {
	margin: 3vw;
	padding: 20px;
	background-color: #f8f8ff;
}

div.info h2 {
	padding-bottom: 20px;
}

#stats {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px;
	padding: 0px;
}

div.stat {
	padding: 60px;
	line-height: 2.75em;
	min-width: 100%;
	width: 50%;
	color: white;
}
div.stat1 {
	background-color: rgba(108, 153, 212, 0.7);
}
div.stat2 {
	background-color: #6C99D4;
}
div.stat3 {
	background-color: #003764;
}
div.stat4 {
	background-color: rgba(0, 55, 100, 0.7);
}
div.stat p {
	font-size: 1.5em;
}
div.stat span.big {
	font-size: 3em;
	line-height: 1.1em;
}

div.fact {
	padding: 10px;
	margin: 50px 10px;
	color: #f90;
}
div.fact p {
	display: inline;
}
div.fact i {
	font-size: 2em;
	display: inline;
	padding: 40px;
}
@media (max-width: 1000px) {
	div.fact {
		text-align: center;
	}
	div.fact i {
		display: block;
	}
}

#about {
	padding: 10vw 5vw;
	background-color: #fff8f1;
}
#about img {
	width: 50%;
}
#about h1 {
	margin-bottom: 0px;
}
#about p {
	padding-top: 40px;
}

#howitworks {
}
#howitworks .steps {
	margin-top: 40px;
}
#howitworks .steps li p {
	margin: 10px 20px;
	padding: 20px;
	/*background-color: #cce7ff;*/
}
#howitworks .steps li:nth-child(odd) p {
	/*background-color: #bfdfff;*/
}

.right-side {
	float: right;
	padding-left: 20px;
}

.slide-in.left {
	transform: translateX(300px);
	animation: slide-in 0.8s ease forwards;
}
.slide-in.right {
	transform: translateX(-300px);
	animation: slide-in 0.8s ease forwards;
}
.slide-in {
	transform: translateY(300px);
	animation: slide-in 0.8s ease forwards;
}
@keyframes slide-in {
	to { transform: translateY(0); transform: translateX(0); }
}
.already-visible {
	transform: translateY(0);
	animation: none;
}

.bg {
	background-image: url('../img/background3.png');
	background-attachment: fixed;
}

#team p {
	text-align: left;
	margin: 40px 20px;
}

.side-img {
	float: right;
	width: 400px;
	margin: 8vw;
}
@media (max-width: 1000px) {
	.side-img {
		width: 50%;
		float: none;
		margin: 0px;
		margin-top: 5vw;
		margin-left: 25%;
	}
}