
body {
	margin: 0;
	font-family: Verdana;
	font-size: 1.3em;
	background-color: #fffffa;
}

#main {
	margin: 0;
}

#library {
	margin: 40px 10vw;
	display: flex;
	flex-wrap: wrap;
}
.author {
	margin: .5vw;
	padding: 5px;
	width: 250px;
}
.author h3 {
	font-size: 1em;
	line-height: 1.5em;
}
.author p a {
	text-decoration: none;
}
@media (max-width: 1000px) {
	#library {
		justify-content: center;
	}
}

#text {
	margin: 40px 8vw 40px 12vw;
	line-height: 2em;
	font-size: 1em;
}
br {
	display: block; 
	margin-top: 10px; 
}

@media (max-width: 600px) {
	#text {
		margin: 4vw;
	}
}


